In [ ]:
import requests
import defs

In [ ]:
session = requests.Session()

In [ ]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [ ]:
params = dict(
    count = count,
    granularity = granularity,
    price="MBA"
)
params

In [ ]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

In [ ]:
defs.OANDA_URL

In [ ]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER).json()
response

In [ ]:
url

In [ ]:
for candle in response["candles"]:
    print(candle)

In [ ]:
for candle in response["candles"]:
    print(f"Volume {candle['volume']} at {candle['time']}")

In [ ]:
ma_short = [8, 16, 32, 64]
ma_long = [32, 64, 96, 128, 256]

ma_list = set(ma_short + ma_long)
ma_list

In [ ]:
import instrument
def get_existing_pairs(pair_str):
    existing_pairs = instrument.Instrument.get_instruments_dict().keys()
    pairs = pair_str.split(",")

    test_list = []

    # Loop through pairs list twice (each currency within each currency)
    for p1 in pairs:
        for p2 in pairs:
            p = f"{p1}_{p2}"
            if p in existing_pairs:
                test_list.append(p)

    return test_list

In [ ]:
pair_str = "GBP,JPY,USD,XXX,EUR,CHF"
list = get_existing_pairs(pair_str)

In [ ]:
import pandas as pd
ma_test_res = pd.read_csv("./Data/ma_test_results.csv")

print("df info 1:")
print(ma_test_res.info())

ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

print("df info 2:")
print(ma_test_res.info())

In [2]:
from oanda_api import OandaAPI
api=OandaAPI()
print(api.candles_count)

400

In [2]:
import pandas as pd
import utils
from dateutil.parser import *

df = pd.read_csv(utils.get_hist_data_filename("GBP_JPY", "M5"))
df['time'] = [parse(x) for x in df.time]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224097 entries, 0 to 224096
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  224097 non-null  int64
 1   time        224097 non-null  datetime64[ns, tzutc()]
 2   volume      224097 non-null  int64
 3   bid_o       224097 non-null  float64
 4   bid_h       224097 non-null  float64
 5   bid_l       224097 non-null  float64
 6   bid_c       224097 non-null  float64
 7   mid_o       224097 non-null  float64
 8   mid_h       224097 non-null  float64
 9   mid_l       224097 non-null  float64
 10  mid_c       224097 non-null  float64
 11  ask_o       224097 non-null  float64
 12  ask_h       224097 non-null  float64
 13  ask_l       224097 non-null  float64
 14  ask_c       224097 non-null  float64
dtypes: datetime64[ns, tzutc()](1), float64(12), int64(2)
memory usage: 25.6 MB

In [3]:
df.head()

,Unnamed: 0,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,0,2020-01-01 22:00:00+00:00,17,144.032,144.137,144.031,144.031,144.107,144.212,144.102,144.102,144.182,144.287,144.174,144.174
1,1,2020-01-01 22:05:00+00:00,28,144.039,144.048,144.020,144.030,144.114,144.118,144.084,144.084,144.188,144.188,144.139,144.139
2,2,2020-01-01 22:10:00+00:00,55,144.030,144.032,143.769,144.025,144.080,144.105,143.844,144.070,144.129,144.180,143.919,144.115
3,3,2020-01-01 22:15:00+00:00,96,144.029,144.034,143.861,143.917,144.074,144.079,143.936,143.992,144.119,144.145,144.011,144.067
4,4,2020-01-01 22:20:00+00:00,52,143.922,143.956,143.904,143.956,143.997,144.031,143.979,144.031,144.072,144.106,144.044,144.106

In [4]:
import datetime as dt

df["next"] =  df["time"].shift(-1)
df["trade_end"] = df.next + dt.timedelta(hours=3, minutes=55)
df["trade_start"] = df.time + dt.timedelta(hours=4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224097 entries, 0 to 224096
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   224097 non-null  int64
 1   time         224097 non-null  datetime64[ns, tzutc()]
 2   volume       224097 non-null  int64
 3   bid_o        224097 non-null  float64
 4   bid_h        224097 non-null  float64
 5   bid_l        224097 non-null  float64
 6   bid_c        224097 non-null  float64
 7   mid_o        224097 non-null  float64
 8   mid_h        224097 non-null  float64
 9   mid_l        224097 non-null  float64
 10  mid_c        224097 non-null  float64
 11  ask_o        224097 non-null  float64
 12  ask_h        224097 non-null  float64
 13  ask_l        224097 non-null  float64
 14  ask_c        224097 non-null  float64
 15  next         224096 non-null  datetime64[ns, tzutc()]
 16  trade_end    224096 non-null  datetime64[ns, tzutc()]
 17  trade_start  224097 non-null  datetime64[ns, tzutc()]
dtypes: datetime64[ns, tzutc()](4), float64(12), int64(2)
memory usage: 30.8 MB

In [7]:
df[["time", "next", "trade_end", "trade_start"]]

,time,next,trade_end,trade_start
0,2020-01-01 22:00:00+00:00,2020-01-01 22:05:00+00:00,2020-01-02 02:00:00+00:00,2020-01-02 02:00:00+00:00
1,2020-01-01 22:05:00+00:00,2020-01-01 22:10:00+00:00,2020-01-02 02:05:00+00:00,2020-01-02 02:05:00+00:00
2,2020-01-01 22:10:00+00:00,2020-01-01 22:15:00+00:00,2020-01-02 02:10:00+00:00,2020-01-02 02:10:00+00:00
3,2020-01-01 22:15:00+00:00,2020-01-01 22:20:00+00:00,2020-01-02 02:15:00+00:00,2020-01-02 02:15:00+00:00
4,2020-01-01 22:20:00+00:00,2020-01-01 22:25:00+00:00,2020-01-02 02:20:00+00:00,2020-01-02 02:20:00+00:00
...,...,...,...,...
224092,2022-12-30 21:35:00+00:00,2022-12-30 21:40:00+00:00,2022-12-31 01:35:00+00:00,2022-12-31 01:35:00+00:00
224093,2022-12-30 21:40:00+00:00,2022-12-30 21:45:00+00:00,2022-12-31 01:40:00+00:00,2022-12-31 01:40:00+00:00
224094,2022-12-30 21:45:00+00:00,2022-12-30 21:50:00+00:00,2022-12-31 01:45:00+00:00,2022-12-31 01:45:00+00:00
224095,2022-12-30 21:50:00+00:00,2022-12-30 21:55:00+00:00,2022-12-31 01:50:00+00:00,2022-12-31 01:50:00+00:00
224096,2022-12-30 21:55:00+00:00,NaT,NaT,2022-12-31 01:55:00+00:00